<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiachufang.manifest.exported">
    // ss

    <queries>

        <package android:name="com.tencent.mm" />

        <package android:name="com.sina.weibo" />

        <intent>

            <action android:name="android.intent.action.CHOOSER" />

        </intent>

    </queries>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidExportedPlugin"
        tools:targetApi="31">
        <!--这是用来测试的,build完成后记得撤销这里的代码,便于再次测试-->
        <activity
            android:name=".simple.MainActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity
            android:name=".simple.TestActivity"
            android:exported="true" />


    </application>

</manifest>
